/* 웹 버전 */
@media screen and (min-width : 800px) {

/* section1 */
.section1 {
	width: 100%;
	/* height: 100%;  */
	display: flex;
	position: relative;
	background: url("../img/background_1.jpeg");
	background-size: 100% 100%;
	z-index: 1;
}

.category {
	/* border: 5px blue solid; */
	width: 20%;
	background-color: black;
	/* padding-top: 50px; */
	/* padding-left: 100px; */
}
.category h1{
	color: white;
	font-weight: bolder;
	font-size: 50px;
	/* padding-top: 50px; */
}
.category h1 a{
	display: inline-block;
	color: white;
	font: bolder;
	font-size: 50px;
	text-decoration: none;
	cursor: pointer;
	padding-left: 30px;
}
.category .connect_part{
	margin-top: 600px;
	padding-left: 25px;
	/* border: 5px red solid; */
}
.category .connect_part p {
	color: white;
	/* font-weight: bolder; */
	font-size: 20px;
}
.left_box {
	width: 35%;
	/* border: 5px green solid; */
	/* height: 100%; */
}

.seojiwon_body2_test {
	/* width: 70%; */
	/* height: 70%; */
	width: 450px;
  	/* height: 150px; */
	object-fit: cover;
	padding: 140px 0px 0px 120px;
	/* 시계방향, 상 우 하 좌  */
}

.right_box {
	/* border: 5px blue solid; */

	display: flex;
	flex-direction: column;
	width: 45%;
	/* padding-left: 20px; */
	/* height: 100%; */
	/* justify-content: center; */
}

.right_box_h1_box{
	/* border: 5px red solid; */

	/* width: 40%;  */
	/* height: 10%; */
	/* margin-top: 5%; */
	/* margin-bottom: 5%; */
	/* margin-left: 5%; */
	/* padding : 150px 50px 0px 0px;  */
	margin : 170px 50px 20px 100px;
	/* 위 오른 아래 왼 */
}

.right_box_h1_box h1{
	color: white;
	font-weight: bolder;
	font-size: 2.5vw;
}
.name_in_h1 {
	font-size: 70px;
	text-decoration: underline darksalmon solid 10px;
	/* margin: 0; */
}
.point_in_h1 {
	color: darksalmon;
	font-style: normal;
	font-size: 4vw;
}

.right_box_p_box {
	display: flex;
	flex-direction:column;
	/* width: 70%; */
	margin : 0px 0px 0px 100px;
	/* height: 40%; */
}
.right_box_p_box p {
	color: white;
	font-size: 23px;
	margin : 0px;
	padding : 0px;
	/* font-style: normal; */
	/* font-weight: normal; */
	/* margin-left: 10%; */
}
.point_in_p {
	color: darksalmon;
	font-size: 3vw;
}

/* 
.design_img {
	position: relative;
	animation: mymove 1.3s;
	animation-delay: 0s;
}
.delay_1 {
	position: relative;
	animation: mymove 1.5s;
}
.delay_2 {
	position: relative;
	animation: mymove 1.6s;
}
.delay_3 {
	position: relative;
	animation: mymove 1.7s;
}
.delay_4 {
	position: relative;
	animation: mymove 1.8s;
}
.delay_5 {
	position: relative;
	animation: mymove 1.9s;
}
.delay_6 {
	position: relative;
	animation: mymove 2s;
}
@keyframes mymove {
	from {
		top: 1000px;
	}
	to {
		top: 0px;
	}
}
*/
/* 카테고리 마우스 오버 */

a span:hover {
	color : gray;
}

}

/* 모바일 버전 */
@media screen and (max-width : 800px) {

	/* section1 */
	.section1 {
		width: 100%;
		height: 100%; 
		display: flex;
		flex-direction: column;
		position: relative;
		background: url("../img/background_1.jpeg");
		background-size: 100% 100%;
		z-index: 1;
	}
	
	/* 아이콘 */
	.star1 {
		display: none;
	}
	.star2 {
		display: none;
	}
	.star3 {
		display: none;
	}
	
	.moon_cat {
		display: none;
	}
	
	.left_box {
		width: 100%;
		height: 50%;
	}
	.design_img {
		width: 95%;
		height: 70%;
		margin-top: 10%;
	}
	
	.right_box {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 50%;
		/* justify-content: center; */
	}
	
	.right_box_h1_box{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%; 
		height: 20%;
		margin-bottom: 10%;
		
	}
	
	.right_box_h1_box h1{
		color: white;
		font-weight: bolder;
		font-size: 4vh;
	}
	.name_in_h1 {
		font-size: 7vh;
		text-decoration: underline darksalmon solid 10px;
		margin: 0;
	}
	.point_in_h1 {
		color: darksalmon;
		font-style: normal;
		font-size: 10vh;
	}
	
	.right_box_p_box {
		display: flex;
		flex-direction:column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 30%;
	}
	.right_box_p_box p {
		color: white;
		font-size: 5px;
		/* font-style: normal; */
		/* font-weight: normal; */
	}
	.point_in_p {
		color: darksalmon;
		font-size: 4.5vh;
	}
	
	
	/* animation */
	.design_img {
		position: relative;
		animation: mymove 1.3s;
		animation-delay: 0s;
	}
	.delay_1 {
		position: relative;
		animation: mymove 1.5s;
		/* animation-delay: 0.3s; */
	}
	.delay_2 {
		position: relative;
		animation: mymove 1.6s;
		/* animation-delay: 0.2s; */
	}
	.delay_3 {
		position: relative;
		animation: mymove 1.7s;
		/* animation-delay: 0.2s; */
	}
	.delay_4 {
		position: relative;
		animation: mymove 1.8s;
		/* animation-delay: 0.2s; */
	}
	.delay_5 {
		position: relative;
		animation: mymove 1.9s;
		/* animation-delay: 0.2s; */
	}
	.delay_6 {
		position: relative;
		animation: mymove 2s;
		/* animation-delay: 0.2s; */
	}
	@keyframes mymove {
		from {
			top: 1000px;
		}
		to {
			top: 0px;
		}
	}
	
	
}
	
	
