/* 웹 버전 */
@media screen and (min-width : 1023px) {

/* min-width를 사용하는 경우
스마트폰 등 가장 작은 사이즈에서의 레이아웃을 기본으로 하고, 점차 확장되어가는 형태로 CSS를 작성합니다.

max-width를 사용하는 경우
데스크탑용의 가장 큰 화면 사이즈의 레이아웃을 기본으로 하고, 점차 축소하는 형태로 CSS를 작성합니다. */


/* Desktop : 1024~, Tablet : 1023~768, Phone : 480~320 */

/* section1 */
.section1 {
	display: flex;
	/* position: relative; */
	background: url("../img/background_1.jpeg");
	background-size: 100vw 100vh;
	z-index: 1;
}

.category {
	border: 5px blue solid;
	width: 17%;
	background-color: black;
	/* padding-top: 50px; */
	/* padding-left: 100px; */
}
.category h1{
	color: white;
	font-weight: bolder;
	/* font-size: 5rem; */
	/* padding-top: 50px; */
}
.categoryUpBox h1 a{
	display: inline-block;
	color: white;
	font: bolder;
	text-decoration: none;
	cursor: pointer;
	padding-left: 30px;
}
.categoryUpBox h1 a span{
	font-size: 5rem;
}
.category .categoryUpBox{
	border: yellow 2px solid;
	height: 30vh;
	/* margin-top: 600px; */
	padding-top: 5vh;
	/* border: 5px red solid; */
}
.category .categoryBottomBox{
	border: red 2px solid;
	/* height: 20vh; */
	/* margin-top: 600px; */
	/* padding-top: 500px; */
	/* border: 5px red solid; */
}

.category .categoryBottomBox p {
	color: white;
	/* font-weight: bolder; */
	font-size: 2rem;
}
.categoryEmptyBox {
	border: red 2px solid;
	height:50vh;
}
.left_box {
	width: 35%;
	border: 5px green solid;
	/* height: 100%; */
}

.seojiwon_body2_test {
	/* width: 70%; */
	/* height: 70%; */
	/* width: 450px; */
	max-width: 200px;
	min-width: 100px;
  	/* height: 150px; */
	/* object-fit: cover; */
	/* padding: 140px 0px 0px 120px; */
	/* 시계방향, 상 우 하 좌  */
}

.right_box {
	border: 5px blue solid;

	display: flex;
	flex-direction: column;
	width: 45%;
	/* padding-left: 20px; */
	/* height: 100%; */
	/* justify-content: center; */
}

.right_box_h1_box{
	border: 5px red solid;

	/* width: 40%;  */
	/* height: 10%; */
	/* margin-top: 5%; */
	/* margin-bottom: 5%; */
	/* margin-left: 5%; */
	/* padding : 150px 50px 0px 0px;  */
	margin : 170px 50px 20px 100px;
	/* 위 오른 아래 왼 */
}

.right_box_h1_box h1{
	color: white;
	font-weight: bolder;
	/* font-size: 2.5vw; */
}
.name_in_h1 {
	/* font-size: 70px; */
	text-decoration: underline darksalmon solid 10px;
	/* margin: 0; */
}
.point_in_h1 {
	color: darksalmon;
	font-style: normal;
	/* font-size: 4vw; */
}

.right_box_p_box {
	display: flex;
	flex-direction:column;
	/* width: 70%; */
	margin : 0px 0px 0px 100px;
	/* height: 40%; */
}
.right_box_p_box p {
	color: white;
	/* font-size: 23px; */
	margin : 0px;
	padding : 0px;
	/* font-style: normal; */
	/* font-weight: normal; */
	/* margin-left: 10%; */
}
.point_in_p {
	color: darksalmon;
	/* font-size: 3vw; */
}

/* 카테고리 마우스 오버 */

.categoryUpBox h1 a span:hover {
	color : gray;
}
}

/* 태블릿 버전 */
@media screen and (min-width : 768px) {
	.section {
		background-color: black;
	}
}

/* 핸드폰 버전 */
@media screen and (min-width : 300px) {
	.section1 {
		/* display: none; */
		background-color: blue;
	}
}
	
	
