@media all and (min-width: 900px) {
	#project_header_box {
		width: 70vw;
		padding: 30px;
		/* border: black 5px solid; */
	}
	#article_title {
		width: 90%;
		/* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, rgb(104, 103, 103) 15%); */
		/* font-size: 60px; */
		font-size: 4.5vw;
		color: black;
		font-weight: bolder;
		border-bottom: 10px solid rgb(104, 104, 104);
		padding-bottom: 20px;
	}
}
@media all and (max-width: 900px) {
	#project_header_box {
		width: 100%;
		padding: 20px 50px 20px 50px;
		box-sizing: border-box;
		/* border: black 5px solid; */
	}
	#article_title {
		width: 100%;
		/* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 85%, rgb(104, 103, 103) 15%); */
		/* font-size: 60px; */
		font-size: 6.5vw;
		color: black;
		font-weight: bolder;
		border-bottom: 10px solid rgb(248, 205, 7);
		padding-bottom: 20px;
	}
}
