/* section2 */
.section2 {
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: rgb(255, 255, 255);
	overflow-y: hidden;
    /* overflow: scroll; */
	/* background-color: gray; */
}
.section2_box {
	display: flex;
	flex-direction: row;
}
.section2_left_category{
	display: flex;
	flex-direction: column;
	/* position: sticky; */
    top: 0px;
    width: 300px;
	padding: 30px;
    /* height: 100vh; */
}
.section2_right_content {
	display: flex;
	/* border: red 3px solid; */
	flex-direction: column;
	padding: 50px 0px 0px 50px;
	/* width: 80vw; */
}
.project {
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 120px;
	padding-left: 50px;
	padding-top: 50px;
	/* padding: 30px; */
}
.project_work {
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 120px;
	padding-left: 50px;
	padding-top: 50px;
	/* padding: 30px; */
}
.box_active{
	display: flex;
}
.box_hidden {
	display: none;
}

.project a {
	display: inline-block;
	color: gray;
	font: bolder;
	font-size: 20px;
	text-decoration: none;
	/* margin: 20px; */
}
.number{
	color: white;
	font-size: 25px;
	font-weight: bolder;
	height: 150px;
}
.project:hover .numberCanHover{
	color:rgb(104, 104, 104);
	cursor: pointer;
	/* font-size: 45px; */
	font-weight: bolder;
	/* margin-left: 50px; */
	/* font-size: 50px; */
}
.numberCanHover{
	color: black;
	/* padding-bottom: 20px; */
	font-size: 40px;
}
.explain_and_smallName {
	display: none;
}
.explan {
	display: none;
}
.smallName {
	display: none;
}
.explainProject {
	display: none;
}
.project:hover .explain_and_smallName {
	display: flex;
	flex-direction: row;
	padding: 5px;
	margin-top: 20px;
	margin-left: 20px;
	/* text-align: center; */
}
.project:hover .explain {
	display: flex;
	font-size: 27px;
	color: rgb(0, 0, 0);
	/* padding: 10px; */
}
.project:hover .smallName {
	display: flex;
	font-size: 20px;
	margin-left: 5px;
	margin-top: 3px;
	color:rgb(0, 0, 0);
}
.project:hover .explainProject {
	display: flex;
	font-size: 20px;
	color:rgb(197, 180, 157);
	padding: 5px;
	margin-left: 20px;

	/* margin-left: -4px; */
	/* padding-top : 20px; */
	/* transition: 2s; */
}


#project_big_box {
	/* width: 70vw; */
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
}
#up_box_in_project_big_box {
	display: flex;
	flex-direction: row;
}
#bottom_box_in_project_big_box {
	display : flex;
	flex-direction: row;
}