/* section2 */
.section2 {
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: rgb(56, 56, 56);
}

.section2_box {
	display: flex;
	flex-direction: row;
}
.section2_left_category{
	display: flex;
	/* border: blue 2px solid; */
	flex-direction: column;

	position: sticky;
    top: 0px;
    width: 17vw;
    height: 100vh;
}
.category_title{
	border: white 2px solid;
	padding-top: 20px;
	padding-bottom: 20px;
}
.category_content{
	border:rgb(0, 0, 0) 3px solid;
	padding-left: 20px;
}
.category_project{
	border: red 1px solid;
	padding-bottom: 20px;
}
.category_work{
	border: green 1px solid;
	padding-bottom: 20px;
}
.category_share{
	border: blue 1px solid;
	padding-bottom: 20px;
}
.category_education{
	border: green 1px solid;
	padding-bottom: 20px;
}
.category_study{
	border: gray 1px solid;
	padding-bottom: 20px;
}
.section2_right_content {
	display: flex;
	border: red 3px solid;
	flex-direction: column;
	
	/* width: 80vw; */
}
.smallName {
	font-size: 20px;
	color:rgb(56, 48, 31);
}
.explainProject{
	font-size: 15px;
	color:rgb(197, 180, 157);
	padding-top : 20px;
}
.project {
	display: flex;
	flex-direction: row;
	height: 500px;
	border: red 5px solid;
}
.box_active{
	display: flex;
}
.box_hidden {
	display: none;
}
.project {
	/* width: 500px; */
	/* height: 200px; */
	padding: 20px;
	border-top: gray 2px solid;
}
.project a {
	display: inline-block;
	color: gray;
	font: bolder;
	font-size: 20px;
	text-decoration: none;
	/* margin: 20px; */
}
.number{
	color: white;
	font-size: 25px;
	font-weight: bolder;
}
.explain {
	font-size: 20px;
	color: rgb(175, 175, 175);
	font-weight: lighter;
	/* padding-top: 50px; */
}

.project:hover .numberCanHover{
	color:cadetblue;
	cursor: pointer;
	/* font-size: 45px; */
	font-weight: bolder;
	/* transform: scale(1.1); */
}
.numberCanHover{
	padding-bottom: 20px;
}