/* section2 */
.section2 {
	display: flex;
	flex-direction: row;
	position: relative;
	background-color: rgb(56, 56, 56);
}

.section2_box {
	display: flex;
	flex-direction: row;
}
.section2_left_category{
	display: flex;
	border: blue 2px solid;
	flex-direction: column;

	position: sticky;
    top: 0px;
    width: 17vw;
    height: 100vh;
}
.category_title{
	border: white 2px solid;
	margin-top: 20px;
	margin-bottom: 20px;
}
.category_content{
	border:rgb(0, 0, 0) 2px solid;
	padding-left: 20px;
}
.category_project{
	border: red 5px solid;
	margin-bottom: 20px;
}
.category_work{
	border: green 5px solid;
	margin-bottom: 20px;
}
.category_share{
	border: blue 5px solid;
	margin-bottom: 20px;
}
.category_education{
	border: green 5px solid;
	margin-bottom: 20px;
}
.category_study{
	border: gray 5px solid;
	margin-bottom: 20px;
}
.section2_right_content {
	display: flex;
	border: red 5px solid;
	flex-direction: column;
	
	/* width: 80vw; */
}
.smallName {
	font-size: 30px;
	color:rgb(56, 48, 31);
}
.explainProject{
	font-size: 20px;
	color:rgb(197, 180, 157);
	padding-top : 20px;
}
.box {
	display: flex;
	flex-direction: row;
}
.project {
	width: 500px;
	/* height: 200px; */
	padding: 20px;
	border-top: gray 2px solid;
}
.project a {
	display: inline-block;
	color: gray;
	font: bolder;
	font-size: 30px;
	text-decoration: none;
	margin: 20px;
}
.number{
	color: white;
	font-size: 40px;
	font-weight: bolder;
}
.explain {
	font-size: 30px;
	color: rgb(175, 175, 175);
	font-weight: lighter;
	margin-top: 20px;
}

.project:hover .numberCanHover{
	color:cadetblue;
	cursor: pointer;
	/* font-size: 45px; */
	font-weight: bolder;
	/* transform: scale(1.1); */
}