.navBar {
    display: none;
}

@media all and (max-width : 768px) {
    .headerForm{
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content:space-between;
        /* border: red 5px solid; */
        background-color: rgb(32, 34, 36);
    }
    .headerLeftBox {
        /* border: black 3px solid; */
        display: flex;
    }
    .headerRightBox {
        display: flex;
        flex-direction: column;
        /* border: blue 3px solid; */
        width: 60px;
    }
    .headerRightBoxButton {
        display: block;
        padding-top: 10px;
        cursor: pointer;
    }
    .headerRightBoxButton div {
        width: 45px;
        height: 4px;
        margin-bottom: 10px;
        /* margin-right: 10px; */
        background-color: #a1adad;
        /* transition: transform 500ms, opacity 500ms, background-color 250ms; */
    }
}
