/* section2 */

.section2 {
	/* width: 1800px; */
	/* height: 990px; */
	display: flex;
	flex-direction: column;
	position: relative;
	/* background: no-repeat center/100% url("../img/background_4.jpeg"); */
}
.section2 h1 {
	/* margin-left: 150px;
	margin-top: 150px;
	margin-bottom: 50px; */
	font-size: 80px;
	color: blanchedalmond;
}

.section2 p {
	/* margin-left: 100px;
	margin-top: 100px;*/
	font-size: 50px;
	color: white; 
}
