/* 웹 버전 */

/* min-width를 사용하는 경우
스마트폰 등 가장 작은 사이즈에서의 레이아웃을 기본으로 하고, 점차 확장되어가는 형태로 CSS를 작성합니다.

max-width를 사용하는 경우
데스크탑용의 가장 큰 화면 사이즈의 레이아웃을 기본으로 하고, 점차 축소하는 형태로 CSS를 작성합니다. */


/* Desktop : 1024~, Tablet : 1023~768, Phone : 480~320 */

/* 토스뱅크에서 기본 웹은 min-width : 640 으로 두고 모바일은 설정 x  */
@media all and (min-width : 768px) {
	.headerBox {
		display: none;
	}

	/* section1 */
	.section1 {
		display: flex;
		width : 100vw;
		height: 100vh;
		position: relative;
		/* background: url("../img/background_1.jpeg"); */
		/* background-size: 100vw 100vh; */
		/* z-index: 1; */
		background-color: white;
		/* overflow: hidden; */
	}

	.category {
		width: 20vw;
		height: 100vh;
		
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		border: 5px blue solid;
		background-color: rgb(32, 34, 36);
	}
	.categoryUpBox{
		display: flex;
		position: relative;
		flex-direction: column;
		/* border: yellow 2px solid; */
		margin-top: 60px;
		justify-content: center;
		/* width: 100%; */
		/* height: 30vh; */
		/* margin-top: 600px; */
		/* padding-top: 5vh; */
		/* border: 5px red solid; */
	}
	.categoryUpBox a{
		/* width : 100%;
		height: 100%;
		color: white;
		font-size: 35px;
		text-align: left;
		font-weight: bolder;
		text-decoration: none;
		cursor: pointer;
		padding: 10px; */

		color: white;
		text-decoration: none;
		width: 100%;
		height: 100%;
		font-size: 45px;
		text-align: left;
		padding: 10px;
		font-weight: bolder;
		
		 /* "to left" / "to right" - affects initial color */
		 background: linear-gradient(to left, transparent 50%, rgb(248, 205, 7) 50%) right;
		 background-size: 200%;
		 transition: .5s ease-out;

	}

	.category .categoryBottomBox{
		border: red 2px solid;
		/* height: 20vh; */
		/* margin-top: 600px; */
		/* padding-top: 500px; */
		/* border: 5px red solid; */
	}

	.category .categoryBottomBox p {
		color: white;
		/* font-weight: bolder; */
		/* font-size: 2rem; */
	}
	
	.left_box {
		/* width: 35%; */
		border: 5px green solid;
		/* height: 100%; */
	}

	.seojiwon_body2_test {
		/* width: 70%; */
		/* height: 70%; */
		/* width: 450px; */
		/* max-width: 200px; */
		/* min-width: 100px; */
		/* height: 150px; */
		/* object-fit: cover; */
		/* padding: 140px 0px 0px 120px; */
		/* 시계방향, 상 우 하 좌  */
	}

	.right_box {
		border: 5px blue solid;

		/* display: flex; */
		/* flex-direction: column; */
		/* width: 45%; */
		/* padding-left: 20px; */
		/* height: 100%; */
		/* justify-content: center; */
	}

	.right_box_h1_box{
		border: 5px red solid;

		/* width: 40%;  */
		/* height: 10%; */
		/* margin-top: 5%; */
		/* margin-bottom: 5%; */
		/* margin-left: 5%; */
		/* padding : 150px 50px 0px 0px;  */
		/* margin : 170px 50px 20px 100px; */
		/* 위 오른 아래 왼 */
	}
	.right_box_h1_box h1{
		/* color: white; */
		font-weight: bolder;
		/* font-size: 2.5vw; */
	}
	.name_in_h1 {
		font-size: 70px;
		text-decoration: underline darksalmon solid 10px;
		/* margin: 0; */
	}
	.point_in_h1 {
		color: yellow;
		/* font-style: normal; */
		font-size: 40px;
	}

	.right_box_p_box {
		display: flex;
		flex-direction:column;
		/* width: 70%; */
		/* margin : 0px 0px 0px 100px; */
		/* height: 40%; */
	}
	.right_box_p_box p {
		/* color: white; */
		/* font-size: 23px; */
		/* margin : 0px; */
		/* padding : 0px; */
		/* font-style: normal; */
		/* font-weight: normal; */
		/* margin-left: 10%; */
	}
	/* 카테고리 마우스 오버 */
	.categoryUpBox a:hover {
		background-position: left;
	}

}

/* 태블릿 or 모바일 버전 */

/* .point_in_h1 {
	color: black;
} */

	
	
